.partnersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.partnersText>h3 {
    color: rgba(69, 88, 128, 0.5);
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 2.5rem;
}

.partnerIcons {
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: center;
}

.partnerIcons>img {
    width: 100%;
}

@media (max-width: 678px) {
    .partnersText>h3 {
        font-size: 80%;
        margin-bottom: 1rem;
    }

    .partnerIcons {
        flex-wrap: wrap;
        gap: 6vw;
    }

    .partnerIcons>img {
        width: 16%;
    }
}