.footerContainer {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.fLinksContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.fBrand {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fBrandLogo>img {
    width: 70px;
}

.fBrandText {
    font-weight: 400;
    font-size: 18px;
    line-height: 26.1px;
    color: rgba(69, 88, 128, 1);
}


.fLinks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.fLinks>h6,
.fSocialText {
    color: rgba(30, 38, 109, 1);
    font-size: 22px;
    font-weight: 500;
}

.fLinks>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.fLinks>ul>li {
    font-size: 18px;
    color: rgba(69, 88, 128, 1);
    font-weight: 400;
    line-height: 40.5px;
    cursor: pointer;
}

.fSocial {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.fSocialIcons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}

.fSocialBottoms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgba(69, 88, 128, 1);
    cursor: pointer;
}


.footerRule {
    width: 50%;
    margin: auto;
    color: rgba(135, 146, 161, 0.08);
}

.lowerFooterContainer {
    margin-top: 2rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.lowerFooterContainer>h5 {
    color: rgba(69, 88, 128, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.lowerFooterLinks>ul {
    list-style: none;
    display: flex;
    color: rgba(69, 88, 128, 1);
    font-size: 14px;
    font-weight: 400;
    gap: 1rem;
    margin-bottom: 22px;
    cursor: pointer;
}

@media (max-width: 628px) {

    .fBrand {
        width: 200px;
    }

    .fBrandText {
        font-size: 80%;
    }

    .fLinks>h6, .fSocialText {
        font-size: 18px;
    }

    .fLinks>ul>li {
        font-size: 14px;
    }

    .fLinksContainer {
        flex-wrap: wrap;
    }

    .fSocialBottoms {
        font-size: 14px;
    }

    .lowerFooterContainer {
        flex-wrap: wrap-reverse;
    }

}